# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
result_json/
visualization_output/
visualization_output3/
visualization_output2/
visualization_output7/
visualization_output22/
visualization_output23/ 
visualization_output66/
horizontal_output/
nested_output/
horizontal_output_scanline/